<!--****Left Side***-->
<div class=" container bg-info m-0  col-md-3">
    <table class="table table-info table-hover">
      <tr class="bg-danger">
        <th class="h1">Categories</th>
      </tr>
      <tr>
        <td><a class="text-decoration-none" href="/student">Add Studets</a></td>
      </tr>
      <tr>
        <td><a class="text-decoration-none" href="/teacher">Add Teachers</a></td>
      </tr>
      <tr>
        <td><a class="text-decoration-none" href="/viewStnt">Students Details</a></td>
      </tr><tr>
        <td><a class="text-decoration-none"  href="/viewTcher">Teachers Details</a></td>
      </tr>
      <tr>
        <td><a class="text-decoration-none" href="/viewUser">Registration details</a></td>
      </tr>
    </table>
    <figure>
      <blockquote class="blockquote">
        <p>If you do 100 mistakes & you don't try for a single time, then you can't feel the taste of success,So keep trying... </p>
      </blockquote>
      <figcaption class="blockquote-footer">
      <cite title="Source Title">Self quatation</cite>
      </figcaption>
    </figure>
  </div>

